

{% extends './base.html' %}
{% comment %} extend base temp {% endcomment %}
{% load static %}
{% comment %} load static files {% endcomment %}
{% block title %}
    {{ course_detail.name }} تغییر رمز
{% endblock title %}
{% comment %} choise title of this page {% endcomment %}

{% block css %}




{% endblock css %}
{% comment %} add special css for this page {% endcomment %}

{% block script %}

{% endblock script %}
{% comment %} add special js codes for this page {% endcomment %}

{% block content %}

<div class="d-flex align-items-center justify-content-center p-5"></div>
    <div class=" body-me d-flex align-items-center justify-content-center">

        <!-- start main -->
        <main class="shadow p-4 d-flex flex-column justify-content-center mw-100 card flat-card"
              style="width: 400px;">

            <!-- start logo container -->
            <div class="text-center">
                <img src="{% static 'assets/img/logo.png' %}" width="150" alt="logo" class="mb-4">
            </div><!-- end logo container -->

            <!-- start form -->
            <form action="" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>

                <!-- start new input div -->
                <div class="form-outline mb-4">
                    {% if messages %}
                        {% for message in messages %}
                            <p style="color: red;"> {{ message }} </p>
                        {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    <label class="form-label" for="form2Example4" >رمز عبور جدید</label>
                    <input name="new_password" type="text" id="form2Example4" class="form-control" required/>

                    <input type="hidden" value="{{ user_id }}" name="user_id">
                    <div class="invalid-feedback">
                        این گزینه الزامی است!
                    </div>
                </div><!-- end new input div -->

                <!-- start confirm password input div -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example3">تایید رمز</label>
                    <input  name="reconfirm_password" type="text" id="form2Example3" class="form-control" required/>
                    <div class="invalid-feedback">
                        این گزینه الزامی است!
                    </div>
                </div><!-- end confirm password input div -->

                <!-- start submit button -->
                <button type="submit" class="btn btn-primary d-block w-100 mb-4">تغییر رمز عبور</button>
                <!-- end submit button -->

                <!-- go to login page -->
            </form><!-- end form -->

            <!-- start back to login page btn -->
            <a href="{% url 'account:login'%}" class="btn btn-outline-light d-block w-100 mb-4">
                بازگشت به صفحه ی ورود
                <i class="fa-solid fa-arrow-left"></i>
            </a><!-- end back to login page btn -->

        </main><!-- end main -->

    </div>


{% endblock content %}
