{% extends './base.html' %}
{% comment %} extend base temp {% endcomment %}
{% load static %}
{% comment %} load static files {% endcomment %}
{% block title %}
    {{ course_detail.name }} ورود
{% endblock title %}
{% comment %} choise title of this page {% endcomment %}

{% block css %}

{% endblock css %}
{% comment %} add special css for this page {% endcomment %}

{% block script %}
    <script src="{% static 'assets/js/validationForm.js' %}"></script>
{% endblock script %}
{% comment %} add special js codes for this page {% endcomment %}

{% block content %}

    <div class="d-flex align-items-center justify-content-center p-5"></div>

    <div class="d-flex align-items-center justify-content-center">

        <!-- start main -->
        <main class="shadow p-4 d-flex flex-column justify-content-center mw-100 card flat-card"
              style="width: 400px;">

            <!-- start logo container -->
            <div class="text-center">
                <img src="{% static 'assets/img/logo.png' %}" width="150px" alt="logo" class="mb-4">
            </div><!-- end logo container -->
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;"> {{ message }} </p>
                {% endfor %}
            {% endif %}

            <!-- start form -->
            <form action="" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}

                <!-- start phone input div -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">شماره تلفن </label>
                    {% csrf_token %}
                    <input type="phone2numeric" name="number_phone" id="form2Example1" class="form-control" required/>
                    <div class="invalid-feedback">
                        این گزینه الزامی است!
                    </div>
                </div><!-- end phone input div -->

                <!-- start password input div -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example2">رمز عبور</label>
                    <input type="password" name="password" id="form2Example2" class="form-control" required/>
                    <div class="invalid-feedback">
                        این گزینه الزامی است!
                    </div>
                </div><!-- end password input div -->

                {# recapcha #}
{#                <div class="d-block w-100 mb-4 arcaptcha" data-site-key="gm5o0hnysg"></div>#}
                <div class="row mb-4">
                    <div class="col">

                        <!-- start remember me div -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked/>
                            <label class="form-check-label" for="form2Example34"> مرا به خاطر بسپار </label>
                        </div><!-- end remember me div -->

                    </div>

                    <div class="col text-end">
                        <!-- start forget password link -->
                        <a href="{% url 'account:forget_password' %}" class="link-light">فراموشی رمز عبور؟</a>
                        <!-- endf forget password link -->
                    </div>
                </div>

                <!-- start submit button -->
                <button type="submit"
                        class="btn btn-success d-block w-100 mb-4 "

                >ورود
                </button><!-- end submit button -->

                <!-- start register buttons div -->
                <div class="text-center">
                    <p>حساب کاربری ندارید؟ <a href="{% url 'account:register' %}" class="link-light">ثبت نام</a></p>
                </div>
                <!-- end register buttons div -->

            </form><!-- end form -->

        </main><!-- end main -->
    </div>



{% endblock content %}
