
      <section class="hero-section">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 col-xl-6">
                    <div class="text-center">
                        <span class="badge bg-primary fs-4 rounded-5">کدادیتور کدنا</span>
                        <h1 class="mt-4 fw-bold text-light title">
                            برای تویی که عاشق کد زدنی
                        </h1>
                        <p class="mt-4 text-secondary fs-5">
                           دیگه نیاز به نصب کد ادیتور نداری!

 ادیتور پایتونی کدنا، از تمام کتابخانه های داخلی پایتون پشتیبانی می‌کنه و از قابلیت هایی مانند اجرای کد ، اتو کامپلیت ، ذخیره کد توی سرور ما ، اپلود کد از کامپیوتر ، دانلود کد ها در فایل پایتونی با یه دکمه ، دانلود ترمینال در قالب فایل تکست ، تم ظاهری معروف دراکولا و کلی چیز خفن دیگه که کشفش رو به عهده خودتون می گذارم رو به شما میده.
                        </p>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <img src="{% static 'assets/img/editor.jpg' %}" class="img-fluid rounded-4 d-block mx-auto" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="section-height-fit">
        <div class="container text-center">
            <div class="mt-5">
                <h2 class="fs-2 text-light fw-bold fm-morabba">
                    ادیتور کدنا، لایق بهترین ها
                </h2>
                <p class="text-secondary fs-5 mt-4">


 ادیتور پایتونی کدنا، از تمام کتابخانه های داخلی پایتون پشتیبانی می‌کنه و از قابلیت هایی مانند اجرای کد ، اتو کامپلیت ، ذخیره کد توی سرور ما ، اپلود کد از کامپیوتر ، دانلود کد ها در فایل پایتونی با یه دکمه ، دانلود ترمینال در قالب فایل تکست ، تم ظاهری معروف دراکولا و کلی چیز خفن دیگه که کشفش رو به عهده خودتون می گذارم رو به شما میده.

                </p>
                <button class="btn">شروع کد نویسی!</button>
            </div>
        </div>
    </section>

    <section class="section-height-fit mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-light">ورود به کد ادیتور پایتون</h3>
                            <p class="card-text text-secondary text-justify">

                                برای ورود به ادیتور پایتون کلیک کنید
                            </p>
                            <a href="python" class="btn">بزن بریم!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-light">ورود به کد ادیتور html</h3>
                            <p class="card-text text-secondary text-justify">
                              در دست ساخت...
                            </p>
                            <button class="btn">بزن بریم!</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-light">ورود به کد ادیتور css</h3>
                            <p class="card-text text-secondary text-justify">
                               در دست ساخت...
                            </p>
                            <button class="btn">بزن بریم!</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-light">ورود به کد ادیتور js</h3>
                            <p class="card-text text-secondary text-justify">
                               در دست ساخت...
                            </p>
                            <button class="btn">بزن بریم!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
