{% load static %}

    <style>
        #descriptionsContianer {
            max-height: 230px;
            overflow: hidden;
        }

        #descriptionsContianer.open {
            max-height: fit-content;
        }

        .descriptionsShadow {
            background-image: linear-gradient(to top, #101113, #10111332);
            height: 100px;
        }

        #descriptionsContianer.open .descriptionsShadow {
            display: none;
        }

        .footer-light {
            margin-top: 100px;
        }
    </style>
<section class="section-height-fit mt-5 about-codena">
        <div class="container position-relative" id="descriptionsContianer">
            <h1 class="text-light fw-bold fm-morabba d-flex align-items-center gap-3">
                <svg width="45px" height="45px" viewBox="0 0 512 512">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill="#fff" transform="translate(42.666667, 42.666667)">
                            <path
                                d="M213.333333,3.55271368e-14 C331.154987,3.55271368e-14 426.666667,95.51168 426.666667,213.333333 C426.666667,331.153707 331.154987,426.666667 213.333333,426.666667 C95.51296,426.666667 3.55271368e-14,331.153707 3.55271368e-14,213.333333 C3.55271368e-14,95.51168 95.51296,3.55271368e-14 213.333333,3.55271368e-14 Z M234.713387,192 L192.04672,192 L192.04672,320 L234.713387,320 L234.713387,192 Z M213.55008,101.333333 C197.99616,101.333333 186.713387,112.5536 186.713387,127.704107 C186.713387,143.46752 197.698773,154.666667 213.55008,154.666667 C228.785067,154.666667 240.04672,143.46752 240.04672,128 C240.04672,112.5536 228.785067,101.333333 213.55008,101.333333 Z">
                            </path>
                        </g>
                    </g>
                </svg>
                درباره کدنا
            </h1>
            <p class="text-secondary lh-lg fs-5 mb-0 text-secondary text-justify mt-3">
                در سایت ما از دوره‌های متنوع و جذاب برخوردار شوید، شامل آموزش جامع شبکه، آموزش لینوکس، آموزش پایتون، آموزش فلسک، آموزش ccna، و آموزش زبان اسکرچ که هرکدام شما را برای موفقیت‌های بعدی آماده می‌کنند.
                مزایای آموزش در آکادمی برنامه‌نویسی کدنا
                آموزش در آکادمی برنامه‌نویسی کدنا به دانشجویان امکان می‌دهد تا از منابع آموزشی با کیفیت و مربیان ماهر بهره‌مند شوند و در محیطی فعال و تعاملی مهارت‌های خود را گسترش دهند.
                فرصت‌های شغلی پس از اتمام دوره‌ها
                شهرت و اعتبار آکادمی کدنا در زمینه آموزش فناوری و برنامه‌نویسی، به دانشجویان خود فرصتی بی‌نظیر برای ورود به بازار کار فراهم می‌آورد. دانش‌آموختگان این آکادمی، به لطف کیفیت آموزشی و مهارت‌های فنی قوی که به دست می‌آورند، اغلب در شرکت‌های فناوری بزرگ و استارت‌آپ‌ها مشغول به کار می‌شوند. این دانشجویان با اطمینان به خود و توانایی‌هایی که از طریق آموزش‌های کدنا به دست می‌آورند، وارد بازار کار می‌شوند و به عنوان نیروهای متخصص و با توانمندی‌های فنی بالا شناخته می‌شوند. به‌علاوه، این دانشجویان از روابط و ارتباطاتی که در طول دوره‌های آموزشی خود در کدنا برقرار می‌کنند، نیز بهره‌مند می‌شوند و این ارتباطات آنان را در جستجوی فرصت‌های شغلی و پیشرفت حرفه‌ای کمک می‌کند. به‌طور کلی، آکادمی کدنا نه‌تنها به دانشجویان خود مهارت‌های لازم برای ورود به صنعت فناوری می‌دهد، بلکه با فراهم کردن فرصت‌های شغلی و ارتباطات مؤثر، آن‌ها را در مسیر موفقیت و پیشرفت حرفه‌ای خود همراهی می‌کند.
                ارتباط با شبکه‌ای از متخصصین و صنعتگران
                در آکادمی کدنا، یادگیری به معنای بیشتر از، فقط کسب دانش فنی است؛ بلکه به دسترسی به یک جامعه فعال از متخصصین و صنعتگران در حوزه برنامه‌نویسی و فناوری می‌انجامد. این آموزشگاه نه تنها ارائه دوره‌های تخصصی و کاربردی را فراهم می‌کند، بلکه فرصتی را برای برقراری ارتباط با افرادی که در حوزه‌های مختلف صنعت فعالیت می‌کنند، ایجاد می‌نماید. این شبکه ارزشمند از افراد با تجربه و دانش فنی، می‌تواند به شما در یادگیری عمیق‌تر و پیشرفت سریع‌تر کمک کند. همچنین، این ارتباطات می‌تواند به شما در باز کردن دروازه‌هایی به فرصت‌های شغلی و حرفه‌ای جدید کمک کند؛ زیرا اطلاعات، تجربیات و ارتباطاتی که از این شبکه بدست می‌آورید، می‌تواند اساسی برای پیشرفت و موفقیت شغلی شما باشد. بنابراین، یادگیری در کدنا به معنای یافتن یک محیط فرهنگی و تحصیلی پویا است که بر شما انگیزه می‌آورد تا به عنوان یک برنامه‌نویس حرفه‌ای در جامعه فعالیت کنید و به بهترین شکل ممکن از فرصت‌های حرفه‌ای استفاده نمایید.
                چگونه ثبت‌نام کنیم؟
                برای ثبت‌نام در دوره‌های آموزشی کدنا، ابتدا متقاضیان باید فرم درخواست را به دقت پر کنند. سپس، با توجه به نوع دوره و نیازهای آموزشی، ممکن است به مصاحبه یا آزمون ورودی دعوت شوند تا سطح دانش و تجربه‌ی خود را ارزیابی کنند. بهتر است متقاضیان پیش از ارسال درخواست، با دوره‌ها و محتوای آموزشی آشنایی پیدا کنند و از فرصت شرکت در وبینارهای معرفی بهره‌مند شوند تا اطلاعات لازم را کسب و ارزیابی کنند که آیا دوره مورد نظر با نیازها و اهداف شخصی و حرفه‌ای آنان همخوانی دارد یا خیر. این اقدامات به متقاضیان کمک می‌کند تا در انتخاب دوره مناسبتر و ثبت‌نام موفق‌تری داشته باشند.
                جمع‌بندی آکادمی برنامه‌نویسی
                آکادمی کدنا، با تاسیس خود در دهه گذشته، در حوزه آموزش فناوری و برنامه‌نویسی به یکی از برجسته‌ترین مراکز آموزشی تبدیل شده است. این آکادمی با تنوع و گستردگی دوره‌های آموزشی خود، به برنامه‌نویسان و دانشجویان فرصتی را برای آشنایی با زبان‌های برنامه‌نویسی معتبر و تکنولوژی‌های نوین فراهم می‌آورد. از سال تاسیس آن تاکنون، آکادمی کدنا با تمرکز بر دوره‌های پیشرفته در زمینه برنامه‌نویسی مبتنی بر تکنولوژی‌های جدید مانند بلاکچین، هوش مصنوعی و یادگیری ماشینی، به ارتقاء و توسعه مهارت‌های فنی و تخصصی دانشجویان می‌پردازد. این مرکز آموزشی تلاش می‌کند تا با ارائه دوره‌های کاربردی و به‌روز، دانشجویان را برای مواجهه با چالش‌های فناوری و صنعت آماده کند و آن‌ها را به سوی موفقیت و پیشرفت در حوزه برنامه‌نویسی هدایت نماید.
                سوالات متداول آموزش برنامه‌نویسی
                چه مزایایی دوره‌های آموزشی آکادمی برنامه‌نویسی کدنا دارند؟
                دوره‌های آموزشی آکادمی برنامه‌نویسی کدنا از مزایای فراوانی برخوردارند. این دوره‌ها با ارائه محتوای به‌روز و کاربردی، به دانشجویان امکان می‌دهند مهارت‌های لازم برای ورود به عرصه برنامه‌نویسی را کسب کنند. همچنین، آکادمی کدنا با استفاده از روش‌های آموزشی متنوع مانند کلاس‌های آنلاین، پروژه‌های عملی و کارگاه‌های تمرینی، به دانشجویان این امکان را می‌دهد تا بهترین تجربه آموزشی را کسب کنند.
                آکادمی برنامه‌نویسی کدنا، که در سال 2015 تاسیس شده است، با هدف اصلی تربیت نیروهای متخصص و کارآمد در حوزه‌ی تکنولوژی و برنامه‌نویسی، فعالیت خود را آغاز کرد. از آغاز تا به امروز، کدنا  به عنوان یک مرکز برجسته و قابل اعتماد در زمینه‌های آموزشی مرتبط با تکنولوژی شناخته شده و موفق شده است تا به عنوان یک رهبر آموزشی در این حوزه مطرح گردد. این آکادمی، با تمرکز بر ارتقاء سطح دانش و مهارت دانش‌پژوهان، به آن‌ها کمک می‌کند تا به برنامه‌نویسانی ماهر و آماده برای مواجهه با چالش‌های پیش‌رو در بازار کار تبدیل شوند.
دوره‌های آموزشی موجود در آکادمی
دوره‌های آموزشی موجود در آکادمی کدنا به دو دسته کوتاه مدت و بلندمدت تقسیم می‌شود با ما همراه باشید تا با هم آن‌ها را بررسی کنیم:
آکادمی برنامه‌نویسی کدنا به درک نیازهای متنوع دانش‌پژوهان در زمینه یادگیری پرداخته است و بر همین اساس، طیف گسترده‌ای از دوره‌ها را از جلسات کوتاه مدت تا برنامه‌های آموزشی بلند مدت و تخصصی ارائه می‌دهد. دوره‌های کوتاه مدت معمولا بر پوشش سریع و مؤثر مباحث تاکید دارند و برای افرادی که به دنبال به‌روزرسانی دانش فنی خود در زمانی محدود هستند، ایده‌آل می‌باشند. از طرفی، دوره‌های بلند مدت بیشتر بر تعمیق دانش و مهارت‌ها در یک حوزه خاص تمرکز دارند و به دانش‌پژوهان امکان می‌دهند تا به صورت عمیق‌تر و جامع‌تری در موضوعات مورد علاقه‌شان فراگیری داشته باشند.
توضیح مختصری در مورد هر دوره
جاوا: در دوره جاوا آکادمی برنامه‌نویسی کدنا، شما با برنامه‌نویسی مبتنی بر کلاس‌ها آشنا خواهید شد، که یکی از روش‌های اصلی در طراحی نرم‌افزار است. این دوره به شما کمک می‌کند تا با استفاده از جاوا، قادر به ساخت اپلیکیشن‌های موبایل و وب‌سایت‌ها باشید. ما تاکید زیادی بر تفکر منطقی و سازماندهی کد داریم، تا شما نه تنها یاد بگیرید که چگونه کد بنویسید، بلکه بتوانید برنامه‌های کاربردی را با رعایت بهترین شیوه‌ها و استانداردها توسعه دهید. این دوره، پایه‌ای محکم برای پیشرفت شما در دنیای برنامه‌نویسی فراهم خواهد کرد و شما را برای حل چالش‌های مختلف فنی آماده می‌سازد.
پایتون: دوره پایتون در آکادمی برنامه‌نویسی کدنا، به شما ابزاری قدرتمند برای ورود به دنیای برنامه‌نویسی می‌دهد. پایتون به خاطر ساختار ساده و خوانا، انتخاب عالی برای کسانی است که تازه کار هستند یا به دنبال یک زبان انعطاف‌پذیر برای پروژه‌های متنوع می‌گردند. در این دوره، شما نه تنها با اصول اولیه برنامه‌نویسی آشنا می‌شوید، بلکه درک عمیقی از کاربردهای پایتون در تجزیه و تحلیل داده‌ها، یادگیری ماشین و توسعه وب به دست خواهید آورد. این دوره به شما مهارت‌هایی می‌دهد که می‌توانید به طور مستقیم در پروژه‌های واقعی و بازار کار به کار ببرید.
جاوا اسکریپت: دوره جاوا اسکریپت در آکادمی برنامه‌نویسی کدنا به شما امکان می‌دهد تا در زمینه توسعه وب پویا و تعاملی مهارت‌های عمیقی کسب کنید. این زبان برنامه‌نویسی، که به ویژه برای بخش‌های فرانت‌اند و بک‌اند وب کاربرد دارد، شما را قادر می‌سازد تا وبسایت‌هایی سریع و کاربرپسند طراحی کنید. جاوا اسکریپت از جمله مهم‌ترین مهارت‌های مورد نیاز در بازار کار فناوری اطلاعات است و با یادگیری آن، شما می‌توانید در پروژه‌های مختلف وب به عنوان یک توسعه‌دهنده مؤثر فعالیت کنید. دوره‌ ما به شما تکنیک‌های جدید و پیشرفته‌ای را آموزش می‌دهد که برای ساخت وب‌سایت‌های مدرن و تعاملی ضروری هستند.
توسعه وب: دوره توسعه وب در آکادمی برنامه‌نویسی کدنا به شما مهارت‌ها و دانش لازم را برای طراحی و ساخت وب‌سایت‌های مدرن و پاسخگو می‌دهد. این دوره با تاکید بر استفاده از زبان‌های کلیدی HTML, CSS و JavaScript شما را قادر می‌سازد تا وب‌سایت‌هایی زیبا و کاربرپسند ایجاد کنید. فارغ از اینکه آیا قصد دارید به عنوان یک توسعه‌دهنده فرانت‌اند کار کنید یا به عنوان یک متخصص بک‌اند، این دوره به شما تکنیک‌های اساسی و پیشرفته‌ای را آموزش می‌دهد که برای موفقیت در دنیای توسعه وب نیاز دارید. به علاوه، با آخرین روندهای طراحی وب آشنا خواهید شد، که این امکان را به شما می‌دهد تا پروژه‌های خود را به سطحی حرفه‌ای و جذاب ارتقا دهید.
برای تبدیل شدن به یک متخصص امنیت سایبری، همین حالا در دوره آموزش هک ثبت‌نام کنید و قدم در مسیری پرچالش و هیجان‌انگیز بگذارید!
برنامه‌نویسی موبایل: در دوره برنامه‌نویسی موبایل در آکادمی کدنا، شما با اصول و مهارت‌های لازم برای ساخت اپلیکیشن‌های موبایل برای پلتفرم‌های پرکاربرد مانند Android و iOS آشنا خواهید شد. این دوره به شما کمک می‌کند تا تکنیک‌های نوین و کاربردی در توسعه اپلیکیشن‌های همراه را یاد بگیرید، با تمرکز بر طراحی کاربردی، عملکرد بهینه و تجربه کاربری جذاب.
از آموزش زبان‌های برنامه‌نویسی گرفته تا استفاده از ابزارهای توسعه مدرن، هر آنچه که برای ورود به این حوزه‌ی پویا و رقابتی نیاز دارید، در این دوره پوشش داده شده است. این فرصتی است تا دانش و مهارت‌های خود را توسعه دهید و به جامعه بزرگ توسعه‌دهندگان موبایل بپیوندید.
تکنولوژی‌ها و زبان‌های برنامه‌نویسی که در آکادمی تدریس می‌شود
آکادمی کدنا با ارائه دوره‌های گسترده و متنوع، به دانشجویان فرصت آموزش و تسلط بر زبان‌های برنامه‌نویسی مدرن و کلاسیک مانند جاوا، پایتون، C# و جاوا اسکریپت را فراهم می‌کند. هر یک از این زبان‌ها دارای ویژگی‌ها و کاربردهای خاص خود هستند که در توسعه نرم‌افزارهای مختلف مورد استفاده قرار می‌گیرند. به عنوان مثال، جاوا به عنوان یک زبان برنامه‌نویسی چندمنظوره، برای توسعه نرم‌افزارهای وب، موبایل و سیستم‌های دیگر استفاده می‌شود. پایتون با سادگی و خوانایی کد، برای توسعه انواع نرم‌افزارها و ابزارهای داده‌ای مورد استفاده قرار می‌گیرد. C# به عنوان زبان برنامه‌نویسی اصلی برای توسعه نرم‌افزارهای ویندوز و وب شناخته می‌شود. همچنین، جاوا اسکریپت به عنوان زبان برنامه‌نویسی اصلی برای توسعه وبسایت‌ها و اپلیکیشن‌های وب استفاده می‌شود. این دوره‌ها به دانشجویان این امکان را می‌دهند که با انتخاب بهترین زبان برنامه‌نویسی برای پروژه‌های خود، مهارت‌های لازم را بیاموزند و در صنعت نرم‌افزار با موفقیت فعالیت کنند.
نقش تکنولوژی‌های جدید در برنامه‌نویسی
در آکادمی کدنا، تمرکز بر آموزش دانش‌پژوهان به جدیدترین دستاوردهای تکنولوژیک از جمله بلاکچین، هوش مصنوعی و یادگیری ماشینی گذاشته شده است. این تکنولوژی‌ها، جزء بخش‌های اصلی و مباحث آموزشی در دوره‌های مختلف آکادمی محسوب می‌شوند. از آنجا که این تکنولوژی‌ها نقش کلیدی در زمینه‌های مختلف از جمله فناوری اطلاعات، بانکداری، سلامت و صنایع دارند، دانش‌پژوهان با آموزش و آشنایی به مفاهیم و کاربردهای آن‌ها، مجهز به راهبرد‌های نوین و نوآورانه برای حل مسائل و پیشرفت در زمینه‌…
            </p>
            <div class="descriptionsShadow start-0 end-0 bottom-0 position-absolute"></div>
        </div>
        <button class="btn btn-lg mx-auto d-flex align-items-center justify-content-center gap-2 mt-3" id="showMore">
            نمایش بیشتر
            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" style="rotate: 180deg;">
                <path
                    d="M12 7V17M12 7L16 11M12 7L8 11M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                    stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
    </section>

    <script>
        var descriptionsContianer = document.getElementById("descriptionsContianer");
        var showMoreBtn = document.getElementById("showMore");

        showMoreBtn.onclick = function () {
            if (descriptionsContianer.className == "container open") {
                //shrink the box
                descriptionsContianer.className = "container position-relative";
                showMoreBtn.innerHTML = "نمایش بیشتر" + `
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" style="rotate: 180deg;">
                        <path
                            d="M12 7V17M12 7L16 11M12 7L8 11M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                            stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                `;
            } else {
                //expand the box
                descriptionsContianer.className = "container open";
                showMoreBtn.innerHTML = "نمایش کمتر" + `
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none">
                        <path
                            d="M12 7V17M12 7L16 11M12 7L8 11M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                            stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                `;
            }
        };
    </script>