{% load static %}

<section class="section-height-fit mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-light">ورود به کد ادیتور پایتون</h3>
                            <p class="card-text text-secondary text-justify">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                            </p>
                            <a href="python" class="btn">بزن بریم!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-light">ورود به ادیتور اسکرچ</h3>
                            <p class="card-text text-secondary text-justify">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                            </p>
                            <a href="https://scratch.mit.edu/projects/editor/" class="btn">بزن بریم!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-light">ورود به کد ادیتور css</h3>
                            <p class="card-text text-secondary text-justify">به زودی ...
                            </p>
                            <button class="btn">بزن بریم!</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-light">ورود به کد ادیتور js</h3>
                            <p class="card-text text-secondary text-justify">به زودی ...
                            </p>
                            <button class="btn">بزن بریم!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>